services:

  db:
    image: postgres:15
    container_name: postgres-dev
    ports:
      - "5432:5432"
    env_file:
      - .env.dev
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "echo \"$(date) - Checking Postgres readiness...\"; pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} || { echo \"$(date) - Postgres not ready\"; exit 1; }; echo \"$(date) - Postgres is ready\""]
      interval: 2s
      timeout: 5s
      retries: 10

  api:
    build:
      context: ./api
      dockerfile: Dockerfile.dev
    container_name: spring-api-dev
    ports:
      - "8080:8080"
    env_file:
      - .env.dev
    volumes:
      - ./api:/app
      - ~/.m2:/root/.m2
    command: mvn spring-boot:run
    restart: no
    healthcheck:
      test: ["CMD", "curl", "-v", "-f", "http://localhost:8080/api/actuator/health"]
      interval: 1s
      timeout: 5s
      retries: 10
      start_period: 10s
    depends_on:
      db:
        condition: service_healthy

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile.dev
    container_name: react-ui-dev
    ports:
      - "5173:5173"
    volumes:
      - ./ui:/app
      - /app/node_modules
    env_file:
      - .env.dev
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: sh -c "echo 'Waiting for backend...' && \
                   until curl -sf http://api:8080/api/actuator/health | grep '\"status\":\"UP\"'; do \
                     sleep 3; \
                   done && \
                   echo 'Backend is ready, starting UI...' && npm run dev"
    restart: no
    depends_on:
      api:
        condition: service_healthy

volumes:
  postgres-data:
