services:
  db:
    image: postgres:15
    container_name: postgres-prod
    ports:
      - "5432:5432"
    env_file:
      - .env.prod
    volumes:
      - postgres-data-prod:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "echo \"$(date) - Checking Postgres readiness...\"; pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} || { echo \"$(date) - Postgres not ready\"; exit 1; }; echo \"$(date) - Postgres is ready\""]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build:
      context: ./api
      dockerfile: Dockerfile.prod
    container_name: spring-api-prod
    ports:
      - "8080:8080"
    env_file:
      - .env.prod
    restart: no
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s

  ui:
    build:
      context: ./ui
      dockerfile: Dockerfile.prod
    container_name: react-ui-prod
    depends_on:
      api:
        condition: service_healthy
    ports:
      - "80:80"
    restart: no

volumes:
  postgres-data-prod: